{% extends "template.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block hero_title %}My Profile{% endblock %}
{% block content %}
<div class="bg-white rounded-xl shadow-lg p-8 max-w-3xl mx-auto">
    <div class="flex flex-col items-center">
        <img src="{{ user.profile_picture.url }}"
             alt="Profile Picture"
             class="w-32 h-32 rounded-full border-4 border-gray-300 shadow-md object-cover">
        <h2 class="text-2xl font-bold mt-4">Username: {{ user.username }}</h2>
        <p class="text-gray-600">Name: {{ user.first_name }} {{user.last_name}}</p>
        <p class="text-gray-600">Email: {{ user.email }}</p>
        <p class="text-gray-600">Phone: {{ user.phone }}</p>
        <div class="mt-6 flex space-x-4">
            <a href="{% url 'edit_profile' %}"
               class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition">
                Edit Profile
            </a>
            <a href="{% url 'change_password' %}"
               class="bg-gray-700 text-white px-6 py-2 rounded-lg hover:bg-gray-800 transition">
                Change Password
            </a>
        </div>
    </div>

</div>
{% endblock %}
