{% extends 'template.html' %}
{% block title %}Registration - Event Management System{% endblock %}
{% block hero_title %}Welcome{% endblock %}
{% block content %}
<div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Register to Your Account</h2>
    <form method="post" class="space-y-6">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="w-full bg-blue-600 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">
            Register
        </button>
    </form>
    <p class="text-center text-gray-600 mt-4">
        Already account? <a href="{% url 'login' %}" class="text-blue-600 underline">Login Now</a>
    </p>
</div>
{% endblock %}