{% extends 'dashboard/base.html' %}

{% block dashboard_content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Assign Role to {{ user.username }}  {{groups}}</h1>
    <div class="bg-white shadow-md rounded-lg p-6">
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="group" class="block text-gray-700 text-sm font-bold mb-2">Role:</label>
                <select name="group" id="group" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="organizer" {% if user.groups.all.0.name == 'organizer' %}selected{% endif %}>organizer</option>
                    <option value="participant" {% if user.groups.all.0.name == 'participant' %}selected{% endif %}>participant</option>
                </select>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Assign Role
                </button>
                <a href="{% url 'user_list' %}" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
